In [1]:
import numpy as np
import pandas as pd

In [2]:
# six files provided
artists = pd.read_csv('../data/artists.dat', sep='\t',usecols=['id','name'])
plays = pd.read_csv('../data/user_artists.dat', sep='\t')
tags = pd.read_csv('../data/tags.dat', sep='\t',encoding='latin-1')
friends = pd.read_csv('../data/user_friends.dat', sep='\t') # we will not use the social network in our recommender
utat = pd.read_csv('../data/user_taggedartists-timestamps.dat', sep="\t")
uta = pd.read_csv('../data/user_taggedartists.dat', sep='\t')

In [3]:
# Explore specs of each file provided.  We will only use artists and plays in the basic system.
csv_list = [artists, plays, tags, friends, utat,uta]
csv_names = ['artists', 'plays', 'tags', 'friends', 'user_taggedartists-timestamps','user_taggedartists']
for i in range(len(csv_list)):
    name = csv_names[i]
    shape = csv_list[i].shape
    columns = csv_list[i].columns
    unique = csv_list[i].nunique()
    print("{}\n{}\n{}\n{}\n".format(name, shape, columns,unique))

artists
(17632, 2)
Index(['id', 'name'], dtype='object')
id      17632
name    17632
dtype: int64

plays
(92834, 3)
Index(['userID', 'artistID', 'weight'], dtype='object')
userID       1892
artistID    17632
weight       5436
dtype: int64

tags
(11946, 2)
Index(['tagID', 'tagValue'], dtype='object')
tagID       11946
tagValue    11946
dtype: int64

friends
(25434, 2)
Index(['userID', 'friendID'], dtype='object')
userID      1892
friendID    1892
dtype: int64

user_taggedartists-timestamps
(186479, 4)
Index(['userID', 'artistID', 'tagID', 'timestamp'], dtype='object')
userID        1892
artistID     12523
tagID         9749
timestamp     3549
dtype: int64

user_taggedartists
(186479, 6)
Index(['userID', 'artistID', 'tagID', 'day', 'month', 'year'], dtype='object')
userID       1892
artistID    12523
tagID        9749
day             4
month          12
year           10
dtype: int64

In [31]:
# merge 5 of 6 files; we will not use friend network at this time
artist_plays = pd.merge(artists, plays,how='left',left_on='id',right_on='artistID')
artist_plays = artist_plays.drop(columns=['id']) # drop duplicate columns
artist_plays['ever_played'] = artist_plays['weight'].apply(lambda x: 1 if x>0 else 0)

In [35]:
artist_plays

,name,userID,artistID,weight,ever_played
0,MALICE MIZER,34,1,212,1
1,MALICE MIZER,274,1,483,1
2,MALICE MIZER,785,1,76,1
3,Diary of Dreams,135,2,1021,1
4,Diary of Dreams,257,2,152,1
5,Diary of Dreams,325,2,3466,1
6,Diary of Dreams,397,2,56,1
7,Diary of Dreams,560,2,134,1
8,Diary of Dreams,580,2,803,1
9,Diary of Dreams,935,2,428,1
10,Diary of Dreams,1551,2,868,1
11,Diary of Dreams,1601,2,385,1
12,Diary of Dreams,1604,2,455,1
13,Diary of Dreams,1679,2,161,1
14,Diary of Dreams,2066,2,83,1
15,Carpathian Forest,548,3,37,1
16,Carpathian Forest,1287,3,330,1
17,Carpathian Forest,2100,3,408,1
18,Moi dix Mois,510,4,1,1
19,Moi dix Mois,681,4,562,1
20,Bella Morte,557,5,260,1
21,Bella Morte,1551,5,653,1
22,Moonspell,26,6,550,1
23,Moonspell,208,6,46,1
24,Moonspell,241,6,1295,1
25,Moonspell,337,6,336,1
26,Moonspell,496,6,95,1
27,Moonspell,548,6,221,1
28,Moonspell,895,6,358,1
29,Moonspell,1287,6,205,1
...,...,...,...,...,...
92804,Joe Beats,2099,18713,171,1
92805,The Opus,2099,18714,163,1
92806,Mr Cooper,2099,18715,139,1
92807,Epstein,2099,18716,133,1
92808,Nobody,2099,18717,132,1
92809,Onra & Quetzal,2099,18718,132,1
92810,Controller 7,2099,18719,118,1
92811,"FORCE OF NATURE, Nujabes, fat jon",2099,18720,112,1
92812,padmo',2099,18721,108,1
92813,Fingathing,2099,18722,107,1
92814,Electrosoul System,2099,18723,87,1
92815,Nostalgia 77,2099,18724,84,1
92816,Mortifera,2100,18725,758,1
92817,Nyktalgia,2100,18726,337,1
92818,Atsakau niekadA,2100,18727,297,1
92819,Domantas Razauskas,2100,18728,281,1
92820,Atalyja,2100,18729,280,1
92821,Les Chants de Nihil,2100,18730,263,1
92822,The Young Gods,454,18734,1032,1
92823,Wiseblood,454,18735,895,1
92824,LOSTFREEQ,454,18736,879,1
92825,Ciccone Youth,454,18737,560,1
92826,Cubanate,454,18738,408,1
92827,Apollo 440,454,18739,379,1
92828,Die Krupps,454,18740,320,1
92829,Diamanda Galás,454,18741,301,1
92830,Aya RL,454,18742,294,1
92831,Coptic Rain,454,18743,287,1
92832,Oz Alchemist,454,18744,286,1
92833,Grzegorz Tomczak,585,18745,426,1

In [10]:
user_tagged = pd.merge(utat,uta,how='outer',on=['userID','tagID','artistID'])
assert len(user_tagged) == len(utat) == len(uta)

In [25]:
# left join as assuming we do not needs tags that have not been used by users
user_tags = pd.merge(user_tagged,tags,how='left',on='tagID')

In [26]:
user_tags2 = pd.merge(user_tags,artists,how='left',left_on='artistID',right_on='id')
user_tags3 = user_tags2.drop(columns='id')

In [13]:
artist_plays.nunique()

name        17632
userID       1892
artistID    17632
weight       5436
dtype: int64

In [27]:
user_tags3.nunique()

userID        1892
artistID     12523
tagID         9749
timestamp     3549
day              4
month           12
year            10
tagValue      9749
name         12133
dtype: int64

In [28]:
user_tags.nunique()

userID        1892
artistID     12523
tagID         9749
timestamp     3549
day              4
month           12
year            10
tagValue      9749
dtype: int64

In [15]:
friends.nunique()

userID      1892
friendID    1892
dtype: int64

In [29]:
user_tags3.head()

,userID,artistID,tagID,timestamp,day,month,year,tagValue,name
0,2,52,13,1238536800000,1,4,2009,chillout,Morcheeba
1,2,52,15,1238536800000,1,4,2009,downtempo,Morcheeba
2,2,52,18,1238536800000,1,4,2009,electronic,Morcheeba
3,2,52,21,1238536800000,1,4,2009,trip-hop,Morcheeba
4,2,52,41,1238536800000,1,4,2009,female vovalists,Morcheeba

In [17]:
friends.head()

   userID  friendID
0       2       275
1       2       428
2       2       515
3       2       761
4       2       831

In [34]:
# these files must be kept separate, as each userID/artistID pair features multiple tagID
# and each userID is associated with multiple friendID
artist_plays.to_pickle('../data/recsys_plays.pkl')
user_tags3.to_pickle('../data/recsys_tags.pkl')
friends.to_pickle('../data/recsys_friends.pkl')